 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    background-color: #E1F0F0;
 }
 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
 }
 .container h1 {
    margin-bottom: 50px;
    font-family: sans-serif;
 }
 .child1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 500px;
    height: 310px;
    padding: 10px 17px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
 }
 .child2{
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   width: 500px;
   height: 310px;
   padding: 10px 17px;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
.child2 img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border-right: 7px solid dodgerblue;
}
 #para1{
    margin-top: 15px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
 }
 #para2{
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 11px;
    color: dodgerblue;
 }
 #para3{
    margin-top: 10px;
 }
 .child1 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-right: 7px solid dodgerblue;
 }
 .btnParent {
    margin-top: 15px;
 }
 #btn {
    font-size: 20px;
    margin: 0 7px;
    border: none;
    background-color: white;
    color: dodgerblue;
 }
 #btn-2 {
    margin-top: 5px;
    padding: 2px 4px;
    color: dodgerblue;
    border-radius: 7px;
    border: 1px solid grey;
 }
 .quote {
    width: 25px;
    height: 25px;
    padding: 5px;
    background-color: white;
    position: absolute;
    background-color: dodgerblue;
    top: 34.5%;
    left: 46.5%;
    border-radius: 50%;
    color: white;
 }
 .nav {
    position: absolute;
    top: 25%;
    left: 47%;
    width: 90px;
    border-top: 3px solid dodgerblue;
 }
 .nav2 {
    position: absolute;
    top: 25%;
    left: 47.5%;
    width: 80px;
    border-top: 3px solid #70D4FF;
 }
 .nav3{
    position: absolute;
    top: 25%;
    left: 47%;
    width: 93px;
    border-top: 3px solid dodgerblue;
 }